<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card_hover</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Poppins&family=Roboto:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="card">
        <img src="i2.jpg"  class="card-img" alt="">
        <div class="content">
            <div>
                <h1 class="title">Iron Man</h1>
                <p class="subtitle">2018    </p>
            </div>
            <p class="detail">Iron is a mineral vital to the proper function of hemoglobin, a protein needed to transport oxygen in the blood. Iron also has a role in a variety of other important processes in the body.
            </p>
            <button class="btn">Know More</button>
        </div>
    </div>
</body>
</html>